<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
         <title>Edit</title>
         {% load static %}
         <link rel="stylesheet" type="text/css" href="{% static 'css/edit1.css' %}" />
         
    </head>
 <body>
    <img src="{% static 'img/empl.jpg' %}" style="width:100%;height: auto;" >
    <form method="POST" class="post-form" action="/update/{{employee.id}}">
        {% csrf_token %}
        <div class="container">
            <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h2>Update Details</h3>
                </div>
            </div>
 <div class="form-group row">
     <label class="col-sm-2 col-form-label">Employee Id:</label>
     <div class="col-sm-4">
         <input type="text" name="eid" id="id_eid" required maxlength="20" value="{{employee.eid}}"/>
       </div>
 </div>
 <div class="form-group row">
    <label class="col-sm-2 col-form-label">Employee Name:</label>
    <div class="col-sm-4">
        <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{employee.ename}}"/>
     </div>
</div>
<div class="form-group row">
    <label class="col-sm-2 col-form-label">Employee Email:</label>
    <div class="col-sm-4">
        <input type="text" name="eemail" id="id_eemail" required maxlength="254" value="{{employee.eemail}}"/>
     </div>
</div>

<div class="form-group row">
    <label class="col-sm-2 col-form-label">Employee Contact:</label>
    <div class="col-sm-4">
        <input type="text" name="econtact" id="id_econtact" required maxlength="15" value="{{employee.econtact}}"/>
     </div>
</div>

<div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
        <button type="submit" class="anchorr">Update</button>
    </div>
</div>

</div>
        
          
    </form>
</body>
</html>