<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Dashboard</title>
    {% load static %}  
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}" />
    
    </head>
<body>
  
  <!-- <a href="/logout">Logout</a> -->
  <div class="grid-container">
    <!-- <div class="menu-icon">
              <i class="fas fa-bars"></i>
            </div> -->
    <header id="header" class="header">
      <div class="header__search">Your Personal Details</div>
  
      <!-- <div class="header__avatar">Your face</div> -->
    </header>
    <aside class="sidenav">
      <div class="sidenav__close-icon">
        <i class="fas fa-times"></i>
      </div>
      <p class="para">Dashboard</p>
      <ul class="sidenav__list">
        <li class="sidenav__list-item">
          <button class="button4" onclick="myFunction()">Personal Details</button>
        </li>
        <li class="sidenav__list-item">
          <button class="button4" onclick="myFunction1()">Save Emp Details</button>
        </li>
        <li class="sidenav__list-item">
          <button class="button4" onclick="myFunction2()">Add New Employee</button>
        </li>
        <li class="sidenav__list-item">
          <button class="button4" onclick="myFunction22()">Edit/Delete Employee</button>
        </li>
        <li class="sidenav__list-item">
          <button class="button4" onclick="myFunction3()">About Us</button>
        </li>
        <li class="sidenav__list-item">
          <button class="button4" onclick="myFunction33()">Logout</button>
        </li>
        <li class="sidenav__list-item"></li>
      </ul>
    </aside>
    <main class="main1">
      <div class="main-header">
        <div class="main-header__heading">Hello, {{user.username}}
          <!-- <span>Here, you can check the various colleges based on stream and their respective cut-off.
          </span> -->
        </div>
        <!-- <div class="main-header__updates">Recent Items</div> -->
      </div>
      <div class="main-cards">
        <div class="card1">
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card1-body">
                <div id="form">
                  <form name="registration" class="">
  
                    <fieldset>
                      <label for="Student4">Username:</label>
                      <input class="myInput" value="{{ user.username }}" name="Student4" id="Student4" readonly />
                      <label for="Student">First Name:</label>
                      <input class="myInput" value="{{ user.first_name }}" name="Student" id="Student" readonly />
                      <label for="Student1">Last Name:</label>
                      <input class="myInput" value="{{ user.last_name }}" name="Student1" id="Student1" readonly />
                      <label for="Student2">Email:</label>
                      <input class="myInput" value="{{ user.email }}" name="Student2" id="Student2" readonly />
                      <label for="Student3">Password:</label>
                      <input class="myInput" value="{{ user.password }}" name="Student3" id="Student3" readonly />
                      <label for="Student5">DOB:</label>
                      <input class="myInput" value="d/m/y" name="Student5" id="Student5" readonly />
                      <button class="button5" onclick="personalfunction(this);" type="button"="regbutton">Update</button>
                    </fieldset>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="card">Card</div>
                  <div class="card">Card</div> -->
      </div>
      <script>
  
      </script>
    </main>
    <main class="main2">
      <div class="main-cards">
        <div class="card">
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card1-body">
                
                <a href="/showinexcel" class="anchorr" class="btn btn-primary">Save Employees Detail in Excel</a>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
 
    </main>
  
    <main class="main3">
  
      <div class="main-cards">
        <div class="card">
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card1-body">
                
                <a href="/emp" class="anchorr" class="btn btn-primary">Add New Employee</a>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </main>
    <main class="main5">
  
      <div class="main-cards">
        <div class="card">
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card1-body">
                <h6 class="titles" class="mb-0"></h6>
                <a href="/show" class="anchorr" class="btn btn-primary">Delete or Edit Employee Details</a>
              </div>
            </div>
  
        </div>
  
      </div>
  
    </main>
    <main class="main6">
  
      <div class="main-cards">
        <div class="card">
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card1-body">
                <div id="form">
                  <svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-door-closed-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4 1a1 1 0 0 0-1 1v13H1.5a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2a1 1 0 0 0-1-1H4zm2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                  <a class="anchorr" href="/logout">Logout</a>
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </main>
    <main class="main4">
      <div class="main-header">
        <div class="main-header__heading">Meet Our Team</div>
        <!-- <div class="main-header__updates">Recent Items</div> -->
      </div>
  
      <div class="main-overview">
        <div class="overviewcard1" >
          <div class="overviewcard__icon"  >
            <a href="https://suryakantk94.github.io/Suryakant-Kashyap/" >Suryakant Kumar Kashyap</a>
        
            </div>
          <!-- <div class="overviewcard__info"></div> -->
        </div>
       
        <div class="overviewcard1">
          <div class="overviewcard__icon">Bhaskar Maheshwari</div>
          <!-- <div class="overviewcard__info"></div> -->
        </div>
      </div>
  
      <div class="main-cards">
        <div class="card">
          <!-- <h6 class="titles" class="mb-0">If you like our work, then please share your feedback.</h6>
          <a class="anchorr" href="/feedback">Feedback Us</a> -->
        </div>
        <!-- <div class="card">Card</div>
              <div class="card">Card</div> -->
      </div>
  
    </main>
  
    <footer class="footer">
      <div class="footer__copyright" style="margin-left: 28px;">Copyright@Suryakant Kashyap</div>
      <div class="footer__signature">2020-2021</div>
    </footer>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    function myFunction() {
      document.getElementById("header").innerHTML = "<span class='header__search'>Your Personal Details</span>";
      document.getElementsByClassName("main5")[0].style.display = 'none';
      document.getElementsByClassName("main6")[0].style.display = 'none';
      document.getElementsByClassName("main2")[0].style.display = 'none';
      document.getElementsByClassName("main3")[0].style.display = 'none';
      document.getElementsByClassName("main4")[0].style.display = 'none';
      document.getElementsByClassName("main1")[0].style.display = 'block';
  
    }
    function myFunction1() {
      document.getElementById("header").innerHTML = "<span class='header__search'>Save Employees Detail to Excel Sheet</span>";
      document.getElementsByClassName("main5")[0].style.display = 'none';
      document.getElementsByClassName("main6")[0].style.display = 'none';
      document.getElementsByClassName("main1")[0].style.display = 'none';
      document.getElementsByClassName("main4")[0].style.display = 'none';
      document.getElementsByClassName("main3")[0].style.display = 'none';
      document.getElementsByClassName("main2")[0].style.display = 'block';
    }
    function myFunction2() {
      document.getElementById("header").innerHTML = "<span class='header__search'>Add Employee</span>";
      document.getElementsByClassName("main5")[0].style.display = 'none';
      document.getElementsByClassName("main6")[0].style.display = 'none';
      document.getElementsByClassName("main1")[0].style.display = 'none';
      document.getElementsByClassName("main4")[0].style.display = 'none';
      document.getElementsByClassName("main2")[0].style.display = 'none';
      document.getElementsByClassName("main3")[0].style.display = 'block';
    }
    function myFunction3() {
      document.getElementById("header").innerHTML = "<span class='header__search'>About Us</span>";
      document.getElementsByClassName("main5")[0].style.display = 'none';
      document.getElementsByClassName("main6")[0].style.display = 'none';
      document.getElementsByClassName("main1")[0].style.display = 'none';
      document.getElementsByClassName("main3")[0].style.display = 'none';
      document.getElementsByClassName("main2")[0].style.display = 'none';
      document.getElementsByClassName("main4")[0].style.display = 'block';
    }
    function myFunction22() {
      document.getElementById("header").innerHTML = "<span class='header__search'>Edit Employee</span>";
      document.getElementsByClassName("main4")[0].style.display = 'none';
      document.getElementsByClassName("main6")[0].style.display = 'none';
      document.getElementsByClassName("main1")[0].style.display = 'none';
      document.getElementsByClassName("main3")[0].style.display = 'none';
      document.getElementsByClassName("main2")[0].style.display = 'none';
      document.getElementsByClassName("main5")[0].style.display = 'block';
    }
    function myFunction33() {
      document.getElementById("header").innerHTML = "<span class='header__search'>Logout</span>";
      document.getElementsByClassName("main5")[0].style.display = 'none';
      document.getElementsByClassName("main4")[0].style.display = 'none';
      document.getElementsByClassName("main1")[0].style.display = 'none';
      document.getElementsByClassName("main3")[0].style.display = 'none';
      document.getElementsByClassName("main2")[0].style.display = 'none';
      document.getElementsByClassName("main6")[0].style.display = 'block';
    }
    function academicfunction(button) {
      var x = document.getElementsByClassName('myInput77');
      var i;
      console.log(x);
      for (i = 0; i < x.length; i++) {
        if (x[i].readOnly) {
          console.log(x[i]);
          console.log(true);
          x[i].readOnly = false;
          x[0].select();
          button.innerHTML = "Save";
  
        } else {
          console.log(x[i]);
          console.log(false);
          x[i].readOnly = true;
          button.innerHTML = "Update";
  
        }
      }
    }
  
    var countBox = 1;
    var boxName = 0;
    function addInput() {
      var boxName = "Add Subject" + countBox;
      document.getElementById('addedsubject').innerHTML += '<input type="text" id="' + boxName + '" value="' + boxName + '" "  />';
      countBox += 1;
      console.log(boxName);
  
    }
    function personalfunction(button) {
      var x = document.getElementsByClassName('myInput');
      var i;
      for (i = 0; i < x.length; i++) {
        if (x[i].readOnly) {
          console.log(x[i]);
          console.log(true);
          x[i].readOnly = false;
          x[i].select();
          button.innerHTML = "Save";
  
        } else {
          console.log(x[i]);
          console.log(false);
          x[i].readOnly = true;
          button.innerHTML = "Update";
  
        }
      }
    }
  </script>
  
</body>
</html> 
